<div class = "container">
    <div class = "ide">
        <h3>Who are you?</h3>
         <h4>
             <%= link_to "Admin", admin_login_url %>
            <span class = "green">// <--Click here if you are the admin</span>
        </h4> 
        <h4>
            <%= link_to "Employee", employee_portal_login_url %>
            <span class="green">//<--Click here if you are Red Panthers Employee</span>
        </h4>
    </div>
</div>