
@import "custom_variables";

@mixin button_submit {
    background: darken($color: $ideblack, $amount: 10%);
    padding: 0.5rem 1.5rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 1px 2px 3px lighten($color: $ideblack, $amount: 20%),
                    2px 3px 4px lighten($color: $ideblack, $amount: 30%);

    &:hover {
    background: lighten($color: $ideblack, $amount: 10%);
    padding: 0.5rem 1.5rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: white;
    text-shadow: 1px 2px 3px darken($color: $ideblack, $amount: 20%),
                    2px 3px 4px darken($color: $ideblack, $amount: 30%);
    box-shadow: 1px 2px 3px darken($color: $ideblack, $amount: 20%),
                    2px 3px 4px darken($color: $ideblack, $amount: 30%);
    }
}
.login-div{
    width: 27%;
    height: 50%;
    position: absolute;
    left: 4%;
    top: 50%;
    transform: translate(0%, -50%);
    color: white;

    .fa-pos{
        position: relative;
        left: 50%;
        transform: translate(-50%, 15%);
        color: #fff;
        text-shadow: 1px 1px 2px #AAA,
                     2px 2px 4px #777;
        font-size: 12rem !important;
    }

    .grid input{
        background: darken($color: $ideblack, $amount: 10%);
        padding: 0.5rem 1.5rem;
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        box-shadow: 1px 2px 3px lighten($color: $ideblack, $amount: 10%),
                     2px 3px 4px lighten($color: $ideblack, $amount: 20%);
        border: none;
        width: 100%;
        color: rgb(217, 249, 255) !important;
        font-weight: bold;
        font-size: 1.2rem;

        &::-webkit-input-placeholder {
            color: #AAA;
        }

        &:focus::-webkit-input-placeholder {
            color: $greencode;
        }

        &:focus+.underline {
            transform: scale(1);
        }
        &[type = checkbox] {
            position: absolute;
            right: 10%;
        }
        .margin {
            margin: 5rem;
        }
    }
 

    .grid .underline {
    background-color: $oceancode;
    display: inline-block;
    height: 2px;
    margin-top: -4px;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    width: 98%;
    }

    
    .grid{
        display: grid;
        grid-template-columns: 1.5fr 3fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 0.5rem;
        grid-row-gap: 1em;
        margin: 1rem 2rem;
        padding-top: 4rem;
        padding-right: 1.5rem;
        font-size: 1.5rem;
        color: $yellowcode;
        div:nth-child(even){
            position: relative;
        }
        sup{
        color: $redcode;
        }
    }
    form .btn {
        @include button_submit;
    }

}

.signup-div{
    @extend .login-div;
    overflow: auto;
    width: 45%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0%);
    select {
        background: darken($color: $ideblack, $amount: 10%);
        padding: 0.5rem 1.5rem;
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        box-shadow: 1px 2px 3px lighten($color: $ideblack, $amount: 10%),
                     2px 3px 4px lighten($color: $ideblack, $amount: 20%);
        border: none;
        width: 100%;
        color: rgb(217, 249, 255) !important;
        font-weight: bold;
        font-size: 1.2rem;
    }
    textarea{
        background: darken($color: $ideblack, $amount: 10%);
        padding: 0.5rem 1.5rem;
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        box-shadow: 1px 2px 3px lighten($color: $ideblack, $amount: 10%),
                     2px 3px 4px lighten($color: $ideblack, $amount: 20%);
        border: none;
        width: 100%;
        color: rgb(217, 249, 255) !important;
        font-weight: bold;
        font-size: 1.2rem;
        resize: vertical;
    }
    input[type="checkbox"]{
        background: darken($color: $ideblack, $amount: 10%);
        width: auto;
        padding: none;
        border: none;
        position: relative;
        left: 0%;
    }
    .input-grid{
        grid-template-rows: 8fr 1fr;
    }
}
.ide h3{
    text-align: center;
    color: rgb(0, 255, 136);
    text-shadow: 1px 1px 1px #00fff2;
}

button {
    @include button_submit;
    color: $lightbluecode;
    font-size: 2rem;
    border: none;
}

.button {
    @extend button;
    font-size: 1.5rem;
    // background: lighten($color: $ideblack, $amount: 40%);
    color: lighten($color: $oceancode, $amount: 20%);
    text-shadow: 0.5px 0.5px 0.5px $greencode;
    font-weight: bold;
}

.login-grid{
    height: 50%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.input-grid{
    display:grid;
    grid-template-rows: 3fr 1fr 1.5fr;
}

 @media only screen and (max-height: 1000px) {
}