<!-- <div class="red-ide container">
    <h1 class = "text-center">Error!</h1>
    <h4 class="text-success"> //Please Login as Admin to use this Page</h4>
    << <%= link_to "Admin Login Page", admin_login_path %>
        <br />
    << <%= link_to  "Employee Login Page", root_url %>
    <h5 class = "text-right text-info">Red Panthers Employee Portal</h5>
</div> -->