<div class="ide login-div">
    <div>
        <% if yield(:page) == "employee_login" %>
            <i class="fa fa-users fa-pos" aria-hidden="true"></i>
            <h3>Employee Login</h3>
        <% elsif yield(:page) == "admin_login" %>
            <i class="fa fa-user fa-pos" aria-hidden="true"></i>
            <h3>Admin Login</h3>
        <% end %>
    </div>
    <div class="grid formgroup">
        <div>
            <label>Username
                <sup>*</sup> :</label>
        </div>
        <div>
            <input type="text" placeholder="Username" name="username" class = "formcontrol" />
            <span class="underline"></span>
        </div>
        <div>
            <label>Password
                <sup>*</sup> :</label>
        </div>
        <div>
            <input type="password" placeholder="Password" name="password" class = "formcontrol" />
            <span class="underline"></span>
        </div>  
    </div>
    <input type = "submit" class = "btn btn-info btn-lg" value = "Log In" name = "login" />
</div>